---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/main.astro";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
const pub = post.data.publishedAt.toLocaleDateString(undefined, options);
---

<Layout title={`${post.data.title} | Joshua Bassett`}>
  <h2>{post.data.title}</h2>
  <p class="meta">
    Published on <span>{pub}</span>
  </p>
  <Content />
</Layout>
