---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={`${post.data.title} | Joshua Bassett`}>
  <article>
    <hgroup>
      <h1>{post.data.title}</h1>
      <p>{formatDate(post.data.date)}</p>
    </hgroup>
    <Content />
  </article>
</Layout>

<style>
  article {
    background: unset;
    border-radius: unset;
    box-shadow: unset;
    padding: unset;
  }

  article :global(:is(h1, h2, h3, h4, h5, h6)) {
    text-wrap: balance;
  }

  article :global(p) {
    text-align: justify;
  }

  article :global(p > img) {
    display: block;
    margin: var(--pico-block-spacing-vertical) auto;
  }
</style>
