---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/main.astro";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
const pub = post.data.publishedAt.toLocaleDateString(undefined, {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title={`${post.data.title} | Joshua Bassett`}>
  <hgroup>
    <h1>{post.data.title}</h1>
    <p>{pub}</p>
  </hgroup>
  <div class="blog">
    <Content />
  </div>
</Layout>
