---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/main.astro";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
const date = post.data.date.toLocaleDateString(undefined, {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title={`${post.data.title} | Joshua Bassett`}>
  <hgroup>
    <h1>{post.data.title}</h1>
    <p>{date}</p>
  </hgroup>
  <article>
    <Content />
  </article>
</Layout>

<style>
  article {
    background: none;
    box-shadow: none;
    border-radius: unset;
  }

  article :global(p):has(> img) {
    text-align: center;
  }
</style>
