:root {
  /* --pico-font-family: serif; */
}

.meta {
  color: var(--pico-muted-color);
  font-size: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
