@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pico-font-family-sans-serif: "Montserrat", sans-serif, var(--pico-font-family-emoji);
  --pico-font-family-monospace: "Inconsolata", monospace, var(--pico-font-family-emoji);
  --pico-card-component-outline-width: .0625rem;
  --pico-card-component-outline-color: transparent;
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --pico-card-component-outline-color: #1c212c;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

.icon-sm {
  width: 1rem;
  height: 1rem;
}
