---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<Layout title="Joshua Bassett">
  <blockquote>
    Hello. I'm a passionate software engineer with 25 years of commerical
    experience, primarily in the financial technology and media sectors.
  </blockquote>
  <h2>Recent posts</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
  }
</style>
