---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects | Joshua Bassett">
  <h1>Projects</h1>
  <ul>
    <li><a href="http://rygar.joshbassett.info" target="_blank">Rygar</a></li>
    <li><a href="http://risk.joshbassett.info" target="_blank">Risk</a></li>
    <li><a href="http://tetris.joshbassett.info" target="_blank">Tetris</a></li>
    <li><a href="http://memory.joshbassett.info" target="_blank">Memory</a></li>
  </ul>
</Layout>
