---
import GitHub from "../components/icons/GitHub";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects | Joshua Bassett">
  <h1>Projects</h1>
  <ul>
    <li>
      <a
        href="http://rygar.joshbassett.info"
        target="_blank"
        rel="noopener noreferrer">Rygar</a
      >
      <a
        href="https://github.com/nullobject/rygar-emu"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHub class="icon-sm" />
      </a>
    </li>
    <li>
      <a
        href="http://risk.joshbassett.info"
        target="_blank"
        rel="noopener noreferrer">Risk</a
      >
      <a
        href="https://github.com/nullobject/risk"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHub class="icon-sm" />
      </a>
    </li>
    <li>
      <a
        href="http://tetris.joshbassett.info"
        target="_blank"
        rel="noopener noreferrer">Tetris</a
      >
      <a
        href="https://github.com/nullobject/tetris"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHub class="icon-sm" />
      </a>
    </li>
    <li>
      <a
        href="http://memory.joshbassett.info"
        target="_blank"
        rel="noopener noreferrer">Memory</a
      >
      <a
        href="https://github.com/nullobject/memory"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHub class="icon-sm" />
      </a>
    </li>
  </ul>
</Layout>
