---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        <p>{formatDate(post.data.date)}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
  }
</style>
