---
import { Image } from "astro:assets";
import profile from "../assets/profile.jpg";
import GitHub from "./icons/GitHub.jsx";
import X from "./icons/X.jsx";
---

<>
  <a href="/" class="avatar">
    <Image src={profile} alt="Avatar" />
    <strong>Joshua Bassett</strong>
  </a>
  <nav>
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
    <ul class="icons">
      <li>
        <a
          href="https://github.com/nullobject"
          rel="noopener noreferrer"
          target="_blank"
        >
          <GitHub class="icon-sm" />
        </a>
      </li>
      <li>
        <a
          href="https://x.com/nullobject"
          rel="noopener noreferrer"
          target="_blank"
        >
          <X class="icon-sm" />
        </a>
      </li>
    </ul>
  </nav>
</>

<style>
  .avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .avatar:not(:hover) {
    text-decoration: none;
  }

  .avatar img {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--pico-contrast-border);
    border-radius: 100%;
  }

  .icons:before {
    display: block;
    height: 1.125rem;
    margin-inline: var(--pico-nav-element-spacing-horizontal);
    border-left: var(--pico-border-width) solid var(--pico-muted-border-color);
    content: "";
  }
</style>
